@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins',
        sans-serif;
    user-select: none;
}

body {
    position: relative;

}

.headeer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;

    background-image: url("/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .header {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        background-color: rgba($color: #000000, $alpha: 0.5);

        .container {
            display: flex;
            background-color: transparent;

            .cells {
                width: 150px;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 7px;
                margin: 0px 10px;
                background-color: transparent;
                backdrop-filter: blur(10px);
                border: 1px solid white;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                h1 {
                    font-size: 50px;
                    font-weight: bold;
                    color: white;

                }
            }
        }
    }
}

@media screen and (max-width: 768px) {


    .container {
        display: block !important;

        .cells {
            margin: 10px 0px !important;
        }
    }
}